@import "./enterprise-light.css";

@theme {
  --color-custom-black: #2b2b2b;
  --color-primary: #fcaf16;

  --font-heading: "Rubik", sans-serif;
  --font-body: "Quicksand", sans-serif;
  --font-accent: "Caramel", cursive;

  /* This creates the class "animate-shimmer-slide" */
  --animate-shimmer-slide: shimmer-slide 2s infinite linear;

  --animate-marquee-left: marquee-left 40s linear infinite;
  --animate-marquee-right: marquee-right 40s linear infinite;

  @keyframes marquee-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes shimmer-slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
