@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-custom-black: #2b2b2b;
  --color-primary: #fcaf16;

  --font-allura: "Allura", cursive;
  --font-arizonia: "Arizonia", cursive;
  --font-cormorant: "CormorantGaramond", serif;
  --font-roboto: "Roboto", sans-serif;
}

@font-face {
  font-family: "Allura";
  src: url("./assets/fonts/Allura/Allura-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arizonia";
  src: url("./assets/fonts/Arizonia/Arizonia-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("./assets/fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

body {
  @apply font-cormorant text-custom-black;
}

@import "./style/navbar.css";
@import "./style/herosection.css";


[data-radix-dialog-content],
[data-radix-popover-content],
[data-radix-dropdown-menu-content],
[data-radix-navigation-menu-content],
[data-radix-menubar-content],
[data-radix-hover-card-content],
[data-radix-dialog-overlay] {
  position: fixed !important;
  z-index: 999999 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
}


.swiper-action-white .swiper-button-prev, .swiper-action-white .swiper-button-next {
  color: white !important;
}


* {
  -webkit-tap-highlight-color: transparent;
}
.PhoneInputInput:focus {
  outline: none;
  box-shadow: none;
}

*:where(:not(script,style)):matches([class],[id],[type]) {
  font-variant-numeric: lining-nums;
}