@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-custom-black: #2b2b2b;
  --color-primary: #fcaf16;

  --font-allura: "Allura", cursive;
  --font-arizonia: "Arizonia", cursive;
  --font-cormorant: "CormorantGaramond", serif;
  --font-roboto: "Roboto", sans-serif;

  /* --- THE MISSING LINE --- */
  /* This creates the class "animate-shimmer-slide" */
  --animate-shimmer-slide: shimmer-slide 2s infinite linear;

  @keyframes shimmer-slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@font-face {
  font-family: "Allura";
  src: url("./assets/fonts/Allura/Allura-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arizonia";
  src: url("./assets/fonts/Arizonia/Arizonia-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("./assets/fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

body {
  @apply font-cormorant text-custom-black;
}

@import "./style/navbar.css";
@import "./style/herosection.css";

[data-radix-dialog-content],
[data-radix-popover-content],
[data-radix-dropdown-menu-content],
[data-radix-navigation-menu-content],
[data-radix-menubar-content],
[data-radix-hover-card-content],
[data-radix-dialog-overlay] {
  position: fixed !important;
  z-index: 999999 !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
}

.testimonial_pagination .swiper-pagination-bullet {
  background-color: gray !important;
    opacity: 1 !important;
}

.testimonial_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
}




.swiper-action-white .swiper-button-prev,
.swiper-action-white .swiper-button-next {
  color: white !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}
.PhoneInputInput:focus {
  outline: none;
  box-shadow: none;
}

*:where(:not(script, style)):matches([class], [id], [type]) {
  font-variant-numeric: lining-nums;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.scrolldown {
  animation: scroll-down 3s ease-in-out infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
    opacity: 0.55;
  }
  50% {
    transform: translateY(50px);
    opacity: 0.75;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.main__container_space {
  @apply py-12 px-4 md:px-8 lg:px-16;
}
.main__container_space_nextContainer {
  @apply container mx-auto sm:px-4 sm:py-4;
}

.rdp-week {
  opacity: 1 !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-button-disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}

:root {
  --time: 0.4s ease;
}

.scroll-indicator {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(90deg) scale(1.5);
}

/* SVG */
.scroll-group {
  display: block;
}

/* Static Circle - Ensures initial stroke is yellow/gold */
.circle-static {
  stroke: var(--color-primary);
  opacity: 0.4;
  fill: none; /* Make sure the interior is transparent */
}

/* Animated Circle - Uses the yellow/orange gradient defined in the SVG */
.circle-animated {
  stroke: var(--color-primary);
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  transition: stroke-dashoffset 1s linear;
  fill: none; /* Make sure the interior is transparent */
}

/* Arrow - Uses the solid yellow/gold color */
.scroll-arrow {
  fill: var(--color-primary);
  transition: transform var(--time);
  transform-origin: center;
}

/* Hover Effects */
.scroll-indicator:hover .scroll-arrow {
  /* Moves the arrow slightly on hover */
  transform: translateX(7px);
}

.scroll-indicator:hover .circle-animated {
  /* Animates the yellow gradient stroke to 0 */
  stroke-dashoffset: 0;
}

/* Full screen dark overlay */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* dark transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Your animation */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #ffa516);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}


body:has([role="alertdialog"]) {
  overflow: hidden;
}


.main_title {
  @apply text-2xl sm:text-5xl 
}